@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(235, 239, 240);
    column-gap:30px;
}
.form{
    background-color:#fff;
    border-radius: 6px;
    max-width: 430px;
    width: 100%;
    padding: 30px;
}
header{
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center; 
}
form{
    margin-top: 30px;
}
form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
}
.field input,
.field button{
    height: 100%; 
    width: 100%;
    border: none;
    font-weight: 400;
    font-size: 16px;
    border-radius: 6px;
}
.field input{
    outline: none;
    border: 1px solid#CACACA;
    padding: 0 15px;
}
.field input:focus{
    border-bottom-width: 2px;
}
.eye-icon{
    position: absolute;
    transform: translateY(-50%);
    font-size: 18px;
    top: 50%;
    right: 10px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}
.field button{
    color: #fff;
    background-color: #0171d3;
    transition: all 0.3s ease;
    cursor: pointer;
}
.field button:hover{
    background-color: #016dcb;
}
.form-link{
 text-align: center;  
  margin-top: 10px;
}
.form-link span,
.form-link a{
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}
.form a{
    color: #0171d3;
    text-decoration: none;
}
.form-content a:hover{
    text-decoration: underline;
}